h1{
    color: var(--azul-claro);
    margin-top: 2rem;
}

.banner img {
    width: 15.62rem;
    border-radius:50%;
    margin-top: 2rem;
    border: 4px solid var(--azul-claro);
}

h2{
    color: var(--azul-claro);
    margin-top: 2rem;
}

h3 {
    color: var(--azul-claro);
}

section {
    padding: 2rem 7%;
    
}

.texto1 {
    margin-bottom: 1rem;
}

.texto2 {
    margin-bottom: 1rem;
}


.fotos-professores {
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.professor {
    width: 15.62rem;
    border-radius:50%;
    margin-top: 2rem;
    text-align: center;
    border: 4px solid var(--azul-claro);
    margin-left: 8px;
    
}

footer {
    text-align: center;
    
}

span {
    color:var(--azul-claro)
}