.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--azul-escuro);
}

.header .logo img {
  width: 8rem;
  padding: 1rem;

}
.navbar{
  padding: 1rem;

}
.navbar a {
  margin-left: 2rem;
  color: var(--white);
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--azul-medio);
}

#menu-btn {
    display: none;
    font-size: 1.2rem;
    color: var(--azul-claro);
    cursor: pointer;
    margin-right: 1rem;
}

#menu-btn:hover {
    color: var(--azul-medio);
}