.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4%;
  /* border-bottom: var(--border); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--azul-escuro);
}

.header .logo img {
  width: 8rem;
}

.navbar a {
  margin-right: 4px;
  color: var(--white);
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--azul-medio);
}

#menu-btn {
    display: none;
    font-size: 1.2rem;
    color: var(--azul-claro);
    cursor: pointer;
}

#menu-btn:hover {
    color: var(--azul-medio);
}